body{
    background-image: url("202125.jpg");
    color: white;
    text-align: justify;
}
a{
    color: orange;
}
ul{
    list-style-position: inside;
}
header{
    background-color: slateblue;
    position: fixed;
    color: black;
    width: 100%;
    height: 5%;
    left: 0px;
    top: 0px;
    font-size: 35pt;
}
button{
    background-color: tomato;
    background-size: contain;
    border: transparent;
    position: relative;
    left: 42%;
    top: -20%;
    font-size: 25pt;
}
button:hover{
    color: blue;
    background-color: turquoise;
}